*{
	text-transform: capitalize;
	color: $dark-font;
}
h1{
	@include md{
		font-size: 47px;
	}
	@include sm{
		font-size: 39px;
	}
	@include xs{
		font-size: 32px;
	}
	font-size: 55px;
}
h2{
	font-size: 45px;
}
h3{
	font-size: 22px;
}
p{
	font-family: inherit;
	font-weight: 400;
	text-transform: none;
}